<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    
    <ion-buttons slot="end" routerLink="/inicio2">
      <ion-button color="dark">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button (click)="salir()" color="dark">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
   </ion-header>


<ion-content>
<br>
<br>
<ion-title>Conductores Disponibles</ion-title>
<br>
<br>
<br>
<ion-item color="dark" *ngFor="let c of conductores">
  <ion-label>
    <h3>{{c.nombre}}</h3>
    <p>{{c.patente}}</p>
    <p>{{c.auto}}</p>
  </ion-label>
</ion-item>


<ion-button [routerLink] = "['/viajes']" expand="block" fill="clear" class="form-btn" color="success">
  Continuar
</ion-button>

</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-footer>
